body {
  background: #53649b;
  color: #fff;
  font-family: arial;
  line-height: 1.4em;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  padding: 0;
}

.clr {
  clear: both;
}

#container {
  background: #0c1225;
  width: 960px;
  margin: 30px auto;
  overflow: hidden;
  padding: 10px;
}

#nav {
  height: 40px;
  background: #53649b;
}

#nav ul {
  padding-top: 13px;
  padding-left: 10px;
}

#nav li {
  list-style: none;
  float: left;
  padding-right: 20px;
}

#nav .active {
  /*font-weight: bold;*/
  color: #ffffff;
  text-decoration: underline;
}

#main {
  float: left;
  width: 60%;
}

#sidebar {
  float: right;
  width: 30%;
  background: #53649b;
  margin-top: 20px;
  padding: 10px;
}

#footer {
  text-align: center;
  padding: 10px;
  background: #53649b;
  margin-top: 30px;
}

.opintojaksot li {
  border-bottom: 2px;
  padding-bottom: 20px;
  margin-left: 20px;
}
.opintojaksot a {
  background: #53649b;
  padding: 10px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #53649b;
  color: #ffffff;
}

button {
  background-color: #53649b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
